force-app/main/default/flows/Create_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_lead_details</name>
        <label>Assign lead detailsd</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Social Media</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>zipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Vehicle_preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preferredVehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mailId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_vehicle_Preferrence</name>
        <label>Assign Lead vehicle Preferrence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Vehicle_preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preferredVehicle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_lead_with_Account_Contact</name>
        <label>Assign lead with Account/Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadRecord.IsConverted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_lead_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LeadVehicle</name>
        <label>Assign Lead vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leadRecord.Vehicle_preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preferredVehicle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Existing_Lead_available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TD_Not_found</name>
        <label>Assign TD Not found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isTestDriveNotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Test_Drive_Info</name>
        <label>Assign Test Drive Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>testDrives</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Test_Drive_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tdCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Transform_Test_Drive_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_TD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>assign_vehicle</name>
        <label>Assign vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>is_Existing_Lead_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_preferred_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preferredVehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LeadVehicle</targetReference>
            </connector>
            <label>Is preferred Vehicle?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Contact</name>
        <label>Check Account/Contact?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_lead_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_account_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_lead_with_Account_Contact</targetReference>
            </connector>
            <label>Is account available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lead_Update</name>
        <label>Check Lead Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_preferred_Vehicle_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_new_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLead</targetReference>
            </connector>
            <label>create new lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_TD</name>
        <label>check TD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_TD_Not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TD_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tdCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Is TD available?</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Existing_Lead_available</name>
        <label>is Existing Lead available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_lead_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>leadRecord.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Is Lead converted</label>
        </rules>
        <rules>
            <name>Lead_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>preferredVehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>preferredVehicle</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>leadRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSA</targetReference>
            </connector>
            <label>Lead Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_preferred_Vehicle_available</name>
        <label>Is preferred Vehicle available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>preferred_vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preferredVehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_vehicle_Preferrence</targetReference>
            </connector>
            <label>preferred vehicle?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Lead</name>
        <label>create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>leadRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>leadRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>IsConverted</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getSA</name>
        <label>getSA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Test_Drive_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ModelName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>preferredVehicle</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getSA</targetReference>
        </connector>
        <inputReference>leadRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Lead_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Test_Drive_Info</name>
        <label>Transform Test Drive Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>TestDriveInfo</apexClass>
        <connector>
            <targetReference>Assign_Test_Drive_Info</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>testDriveId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>vehicleName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].ModelName__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>subject</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].Subject</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>serviceTerritoryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].ServiceTerritoryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>startTime</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].SchedStartTime</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>showRoom</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].ShowRoom__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>endTime</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getSA[$EachItem].SchedEndTime</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isTestDriveNotFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>this collects the email from user.</description>
        <name>mailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preferredVehicle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>tdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tDrive</name>
        <apexClass>TestDriveInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDrives</name>
        <apexClass>TestDriveInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>zipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
