force-app/main/default/flows/FeedBack_form_for_TestDrive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Acceleration</name>
        <choiceText>Acceleration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acceleration</stringValue>
        </value>
    </choices>
    <choices>
        <name>ADAS_safety</name>
        <choiceText>ADAS/Safety</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADAS / safety</stringValue>
        </value>
    </choices>
    <choices>
        <name>Average</name>
        <choiceText>Average</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Average</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_loan_pre_approved</name>
        <choiceText>Bank loan (pre-approved)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank loan (pre-approved)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Below_expectations</name>
        <choiceText>Below expectations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Below expectations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cabin_comfort</name>
        <choiceText>Cabin comfort</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cabin comfort</stringValue>
        </value>
    </choices>
    <choices>
        <name>Considering_it</name>
        <choiceText>Considering it</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Considering it</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dealership_EMI</name>
        <choiceText>Dealership EMI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealership EMI</stringValue>
        </value>
    </choices>
    <choices>
        <name>Definitely_will_buy</name>
        <choiceText>Definitely will buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Definitely will buy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disappointing</name>
        <choiceText>Disappointing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disappointing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exceeded_expecattaions</name>
        <choiceText>Exceeded expectations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exceeded expecattaions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Excellent</name>
        <choiceText>Excellent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exploring_loan_options</name>
        <choiceText>Exploring loan options</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exploring loan options</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exploring_options</name>
        <choiceText>Exploring options</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exploring options</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_cash_bank_transfer</name>
        <choiceText>Full cash / bank transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full case / bank transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fully_Arranged</name>
        <choiceText>Fully Arranged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fully Arranged</stringValue>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_progress</name>
        <choiceText>In progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Met_expectations</name>
        <choiceText>Met expectations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Met expectations</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mostly_yes</name>
        <choiceText>Mostly yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mostly yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_fixed_timeline</name>
        <choiceText>No fixed timeline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No fixed timeline</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_thanks</name>
        <choiceText>No thanks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No thanks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_decided</name>
        <choiceText>Not decided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not decided</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_yet</name>
        <choiceText>Not yet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not yet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nothing_specific</name>
        <choiceText>Nothing specific</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nothing specific</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partially</name>
        <choiceText>Partially</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partially</stringValue>
        </value>
    </choices>
    <choices>
        <name>Range_battery</name>
        <choiceText>Range/Battery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Range / battery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Send_later_via_WhatsApp</name>
        <choiceText>Send later via Whatsapp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Send later via Whatsapp</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tech_infotainment</name>
        <choiceText>Tech/infotinment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tech / infotainment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Undecided</name>
        <choiceText>Undecided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undecided</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unlikely_to_buy</name>
        <choiceText>Unlikely to buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unlikely to buy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_likely</name>
        <choiceText>Very likely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very likely</stringValue>
        </value>
    </choices>
    <choices>
        <name>Within_1_week</name>
        <choiceText>Within 1 week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Within 1 week</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_3_months</name>
        <choiceText>1-3 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-3 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_4_weeks</name>
        <choiceText>1-4 weeks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-4 weeks</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_6_months</name>
        <choiceText>3-6 months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3-6 months</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_base_vehicle_only</name>
        <choiceText>Yes, base vehicle only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, base vehicle only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_perfectly</name>
        <choiceText>Yes, perfectly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, perfectly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_with_accessories</name>
        <choiceText>Yes, with accessories</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, with accessories</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Mapped the fields and created records.</description>
    <dynamicChoiceSets>
        <name>vehicleNames</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>VehicleDefinition</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>FeedBack form for TestDrive {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Feedback Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Feedback_record</name>
        <label>Create Feedback record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Drive_Satisfaction__c</field>
            <value>
                <elementReference>Question3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expectation_Match__c</field>
            <value>
                <elementReference>Question8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Purchase_Date__c</field>
            <value>
                <elementReference>Question2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Readiness__c</field>
            <value>
                <elementReference>Question6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fit_For_Use__c</field>
            <value>
                <elementReference>Question5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Mode__c</field>
            <value>
                <elementReference>Question7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>ImportantQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Drive_Comments__c</field>
            <value>
                <elementReference>Any_additional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Likelihood__c</field>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Interest__c</field>
            <value>
                <elementReference>Question9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Features__c</field>
            <value>
                <elementReference>Question4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleName__c</field>
            <value>
                <elementReference>vehicleName</elementReference>
            </value>
        </inputAssignments>
        <object>TestDriveFeedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p&gt;Thankyou for filling the form. You can close the window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_form</name>
        <label>Feedback form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Feedback_record</targetReference>
        </connector>
        <fields>
            <name>Dispalyed</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you for taking the time to test drive with us. We value your feedback and would appreciate your insights to help us improve your experience.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ImportantQuestion</name>
            <dataType>String</dataType>
            <fieldText>Please provide the phone number you used while booking the test drive.</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please provide the number which was used to book the test drive.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>vehicleName</name>
            <choiceReferences>vehicleNames</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Kindly share the car model you had the opportunity to test drive</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question1</name>
            <choiceReferences>Definitely_will_buy</choiceReferences>
            <choiceReferences>Very_likely</choiceReferences>
            <choiceReferences>Considering_it</choiceReferences>
            <choiceReferences>Undecided</choiceReferences>
            <choiceReferences>Unlikely_to_buy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How likely are you to purchase this vehicle in the next 30 days?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question2</name>
            <choiceReferences>Within_1_week</choiceReferences>
            <choiceReferences>X1_4_weeks</choiceReferences>
            <choiceReferences>X1_3_months</choiceReferences>
            <choiceReferences>X3_6_months</choiceReferences>
            <choiceReferences>No_fixed_timeline</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is your expected purchase timeline?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question3</name>
            <choiceReferences>Excellent</choiceReferences>
            <choiceReferences>Good</choiceReferences>
            <choiceReferences>Average</choiceReferences>
            <choiceReferences>Disappointing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How satisfied were you with overall driving experience?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question4</name>
            <choiceReferences>Range_battery</choiceReferences>
            <choiceReferences>Acceleration</choiceReferences>
            <choiceReferences>Cabin_comfort</choiceReferences>
            <choiceReferences>Tech_infotainment</choiceReferences>
            <choiceReferences>ADAS_safety</choiceReferences>
            <choiceReferences>Nothing_specific</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which features impressed you the most? ( Select all that apply )</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question5</name>
            <choiceReferences>Yes_perfectly</choiceReferences>
            <choiceReferences>Mostly_yes</choiceReferences>
            <choiceReferences>Partially</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does this vehicle meet your day-to-day usage requirement?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question6</name>
            <choiceReferences>Fully_Arranged</choiceReferences>
            <choiceReferences>In_progress</choiceReferences>
            <choiceReferences>Exploring_options</choiceReferences>
            <choiceReferences>Not_yet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you arranged financing or a budget for this purchase?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question7</name>
            <choiceReferences>Full_cash_bank_transfer</choiceReferences>
            <choiceReferences>Bank_loan_pre_approved</choiceReferences>
            <choiceReferences>Dealership_EMI</choiceReferences>
            <choiceReferences>Exploring_loan_options</choiceReferences>
            <choiceReferences>Not_decided</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which payment mode are you considering?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question8</name>
            <choiceReferences>Exceeded_expecattaions</choiceReferences>
            <choiceReferences>Met_expectations</choiceReferences>
            <choiceReferences>Below_expectations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How did this test drive compare to your expectations?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Question9</name>
            <choiceReferences>Yes_with_accessories</choiceReferences>
            <choiceReferences>Yes_base_vehicle_only</choiceReferences>
            <choiceReferences>Send_later_via_WhatsApp</choiceReferences>
            <choiceReferences>No_thanks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to receive a personalized quote today?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Any_additional</name>
            <fieldText>Any additional comments or requests for  the sales  team?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Feedback_form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>feedbackform</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TestDriveFeedback__c</objectType>
    </variables>
</Flow>
