force-app/main/default/flows/Get_Dealers_location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Lat/Long using the Zipcode</description>
        <name>Get_Lat_Long</name>
        <label>Get Lat/Long</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>zipcodelatlong</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Get_NearByLocation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:zipcode</name>
            <value>
                <elementReference>userZipcode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>zipcodelatlong</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_NearByLocation</name>
        <label>Get Near By Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FindNearbyServiceTerritories</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>location</name>
            <value>
                <elementReference>Get_Lat_Long.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindNearbyServiceTerritories</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>dealerLocations</assignToReference>
            <name>territories</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Get Dealer&apos;s location {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Dealer&apos;s location</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lat_Long</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dealerLocations</name>
        <apexClass>DealerLocation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userZipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
