force-app/main/default/flows/prework.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getappointments</name>
        <label>getappointments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetTodayAppointmentsFromVoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>summarize</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testDriveNumber</name>
            <value>
                <elementReference>testDriveNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetTodayAppointmentsFromVoice</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>summarize</name>
        <label>summarize</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>serviceAppointment</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:serviceAppointment</name>
            <value>
                <elementReference>getappointments.jsonResult</elementReference>
            </value>
        </inputParameters>
        <nameSegment>serviceAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>output</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>appointmentsToday</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()) &amp; &quot;23:59:59&quot;)</expression>
    </formulas>
    <interviewLabel>prework {!$Flow.CurrentDateTime}</interviewLabel>
    <label>prework</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getappointments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0LQak000004cquYGAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>testDriveNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
