force-app/main/default/flows/reschedulework.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getAppointment</name>
        <label>getAppointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GetTodayAppointmentsFromVoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testDriveNumber</name>
            <value>
                <elementReference>testDriveNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetTodayAppointmentsFromVoice</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>rescheduleSR</name>
        <label>rescheduleSR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RescheduleSR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notify_Sales_Rep</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputJsonList</name>
            <value>
                <elementReference>getAppointment.jsonResult</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RescheduleSR</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>outputMsg</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>saId</assignToReference>
            <name>serviceappointmentId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>userId</assignToReference>
            <name>userId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>notconfirmed</name>
        <label>notconfirmed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>outputMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>noTestDrive</name>
        <label>noTestDrive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is no test drive for the provided number. Please provide a valid test drive number.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>rescheduleSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>confirmReschedule</defaultConnectorLabel>
        <rules>
            <name>No_test_drive_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAppointment.jsonResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noTestDrive</targetReference>
            </connector>
            <label>No test drive found</label>
        </rules>
        <rules>
            <name>notconfirmReschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rescheduleConfirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notconfirmed</targetReference>
            </connector>
            <label>notconfirmReschedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_Sales_Rep</name>
        <label>Notify Sales Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outputMsg</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>has been reschedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotifyRep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>reschedulework {!$Flow.CurrentDateTime}</interviewLabel>
    <label>reschedulework</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>NotifyRep</name>
        <label>NotifyRep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>NotifySalesRep</flowName>
        <inputAssignments>
            <name>saId</name>
            <value>
                <elementReference>saId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>saName</name>
            <value>
                <elementReference>saName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>outputMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Here are your details you want to reschedule {!getAppointment.jsonResult} please confirm.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>saAlertTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A Service Appointment {!saName} is assigned to you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectNotify</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Service Appointment Assigned&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>outputMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0LQak000004csujGAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>rescheduleConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>saId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>saName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testDriveNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
