force-app/main/default/flows/Sales_Rep_to_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Not_found</name>
        <label>Not found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>playPromptAsyncAction</actionName>
        <actionType>playPromptAsyncAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>promptType</name>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptMessage</name>
            <value>
                <stringValue>Your number is not registered in salesforce. Please call back with the registered number.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mediaName</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>{!recordId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userResponseSettings</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseValues</name>
        </inputParameters>
        <inputParameters>
            <name>isResponseDelimiterEnabled</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>responseDelimiter</name>
        </inputParameters>
        <inputParameters>
            <name>responseTime</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requireResponseRetry</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>retryCount</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputValueLength</name>
        </inputParameters>
        <inputParameters>
            <name>maxInputValueLength</name>
        </inputParameters>
        <inputParameters>
            <name>minInputValueLength</name>
        </inputParameters>
        <inputParameters>
            <name>languageValue</name>
            <value>
                <stringValue>en-US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>voiceProfileValue</name>
            <value>
                <stringValue>Juniper</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customizeRetryMessage</name>
        </inputParameters>
        <inputParameters>
            <name>interDigitResponseTimeout</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customizeRetryMedia</name>
        </inputParameters>
        <inputParameters>
            <name>isCustomizedRetryMessageSet</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <isWaitUntilCompleted>true</isWaitUntilCompleted>
        <nameSegment>playPromptAsyncAction</nameSegment>
        <offset>1</offset>
        <offsetUnit>Minutes</offsetUnit>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Agent</name>
        <label>Route to Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Copilot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Default Queue Agentforce Contact Center</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
            <value>
                <stringValue>salesRep Guide</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_phone</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
            <value>
                <setupReference>salesRep_Guide</setupReference>
                <setupReferenceType>BotDefinition</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00Gak00000QOVOmEAP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Individual</name>
        <label>Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Individual_details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_Agent</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Rep to Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Rep to Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>get_Individual_details</name>
        <label>get Individual details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Call_Records.FromPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call_Records</name>
        <label>Get Voice Call Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Individual_details</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FromPhoneNumber</queriedFields>
        <queriedFields>CallStatus</queriedFields>
        <queriedFields>ToPhoneNumber</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Voice_Call_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
