force-app/main/default/flows/ServiceAppointment_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_test_drive_date_time</name>
        <label>Assign test drive date time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>testDrive.Test_Drive_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Test_Drive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_test_drive_id</name>
        <label>Assign test drive id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>testDrive.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Drive.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testDrive.Bypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_test_drive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_test_drive_status</name>
        <label>Assign test drive status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>testDrive.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestDriveStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Test_Drive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Bypass</name>
        <label>Check Bypass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Status_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_processsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsProcessed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updateisproccessed</targetReference>
            </connector>
            <label>check processsed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_check</name>
        <label>Status check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestDriveStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsProcessed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_test_drive_status</targetReference>
            </connector>
            <label>Check status</label>
        </rules>
        <rules>
            <name>Check_Schedule_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SchedStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_test_drive_date_time</targetReference>
            </connector>
            <label>Check Schedule Start</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TestDriveStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Status},&quot;Dispatched&quot; , &quot;Inprogress&quot;,&quot;Scheduled&quot;,&quot;Scheduled&quot;, &quot;Completed&quot;, &quot;Completed&quot;,&quot;Canceled&quot;,&quot;Canceled&quot;,Null)</expression>
    </formulas>
    <interviewLabel>ServiceAppointment Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceAppointment Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Test_Drive</name>
        <label>Get Test Drive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_test_drive_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_test_drive</name>
        <label>Update test drive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>testDrive</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updateisproccessed</name>
        <label>Updateisproccessed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>IsProcessed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Bypass</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>testDrive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
</Flow>
