force-app/main/default/flows/SlotsSelection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_string_to_JSON</name>
        <label>Convert string to JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>JSONConverter</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>outputMsg</elementReference>
            </value>
        </inputParameters>
        <nameSegment>JSONConverter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>timeSlot</assignToReference>
            <name>timeSlot</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Slots</name>
        <label>Slots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slotsAvailable</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>OutputMessage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:preferredStartTime</name>
            <value>
                <elementReference>preferedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Slots</name>
            <value>
                <elementReference>apexoutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slotsAvailable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TestDrive</name>
        <label>TestDrive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ScheduleTestDrive</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Slots</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>preferedStartTime</name>
            <value>
                <elementReference>preferedStartTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTerritoryId</name>
            <value>
                <elementReference>serviceTerritoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vehicleName</name>
            <value>
                <elementReference>vehicleName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ScheduleTestDrive</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>apexoutput</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Today_s_Time</name>
        <label>Copy 1 of Today&apos;s Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>preferedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currentplus2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TestDrive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutputMessage</name>
        <label>OutputMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slots.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_string_to_JSON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Today_s_Time</name>
        <label>Today&apos;s Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>preferedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currentplus2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TestDrive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_preferred_time</name>
        <label>Check preferred time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TestDrive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreferrredTime</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>preferedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Today_s_Time</targetReference>
            </connector>
            <label>PreferrredTime</label>
        </rules>
        <rules>
            <name>PreferredTime2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preferedStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Today_s_Time</targetReference>
            </connector>
            <label>PreferredTime2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Currentplus2</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+(2/24)</expression>
    </formulas>
    <interviewLabel>SlotsSelection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SlotsSelection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_preferred_time</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>apexoutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>preferedStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceTerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeSlot</name>
        <apexClass>TimeSlot</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
