force-app/main/default/flows/Test_Drive_Feedback_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Test_Drive_Scoring</name>
        <label>Calculate Test Drive Scoring</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Calculate_TestDrive_Scoring</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Test_Drive_Scoring_Prompt_JSON_Parser</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:survey</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Calculate_TestDrive_Scoring</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varPromptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Test_Drive_Scoring_Prompt_JSON_Parser</name>
        <label>Test Drive Scoring Prompt JSON Parser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TestDriveScoringPromptJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Test_Drive_Scoring_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>responses</name>
            <value>
                <elementReference>varPromptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TestDriveScoringPromptJSONParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Test Drive Feedback After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Drive Feedback After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Test_Drive_Scoring_Values</name>
        <label>Update Test Drive Scoring Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model_Interested__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VehicleName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PurchasingScore__c</field>
            <value>
                <elementReference>Test_Drive_Scoring_Prompt_JSON_Parser.Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommandation__c</field>
            <value>
                <elementReference>Test_Drive_Scoring_Prompt_JSON_Parser.Recommendation</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Test_Drive_Scoring</targetReference>
        </connector>
        <object>TestDriveFeedback__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>purchasingScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPromptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
